@import "./componentes/variables";
@mixin animacionArriba{
    animation: fadeInUp;
    animation-duration: 1.5s;
}
@mixin animacionAbajo{
    animation: fadeInDown;
    animation-duration: 1.5s;
}
@mixin widthHeigth100{
    width: 100%;
    height: 100%;
}
//      *** DarkMode ***
body{
    background: $colorBlanco;
    transition: .5s ease all;
    &.dark {
        background: $colorNegro;
            .subTituloDisco{
            color: $colorBlanco;
            }
            .discos{
                .card{
                    .card-title{
                    color: $colorBlanco;    
                    }   
                    .card-text{
                    color: $colorBlanco;    
                    }
                }
            }      
    }
}
//      *** Discografía ***
.tituloDiscos {
    text-align: center;
        a{
            text-decoration:none;
        }
        h1 {
        font-size: $titulo-computadora;
        text-decoration: none;
        color: transparent;
        background: linear-gradient(to left, rgb(18, 22, 255), rgb(255, 25, 25), rgb(18, 22, 255), rgb(255, 75, 75));
        -webkit-background-clip: text;
        padding-top: 30px;
            &:hover {
            text-decoration: none;
            color: transparent;
            background: rgb(60,58,180);
            background: linear-gradient(90deg, rgba(60,58,180,1) 0%, rgba(252,69,69,1) 100%);;
            -webkit-background-clip: text;
            }           
        }
        h2 {
        @include animacionAbajo;
        font-size: $subTitulo-computadora;       
        padding: 30px;
        color: $colorNegro;
        }
}
.discos {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    .card {
        @include animacionArriba;
        margin-bottom: 50px;
        background: $colorBlanco;
        box-shadow: $sombraDark;
        transition: .3s ease all;
        img{
        width: 475px;
        height: 475px;
        margin-bottom: 20px;
        border: 1px solid;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            &:hover {
            transform: scale(1.01, 1.01);
            border: 1px solid rgb(0, 0, 0);
            }
        }
        body.dark & {
            background: $grisOscuro;
            box-shadow: $sombraLight;
        }
        .card-title{
            color: $colorNegro;
        }
        .card-text{
             color: $colorNegro;
        }
    }
}
//      *** Discografía Mobile 320px ***
@media only screen and (max-width:320px){
    .tituloDiscos{
            h1{
                font-size: $titulo-celular-pequeño;
                padding: 20px;
            }
            h2{
                font-size: $subTitulo-celular-pequeño; 
            }
    }
    .discos {
        display: grid;
        grid-template-areas:
            "titulo"
            "link"
            "subtitulo";
        grid-template-rows: 1fr;
        grid-template-columns: 100%;
        padding: 30px;
        .card{
            a {
                grid-area: link;
                width: 100%;
            }
            h2 {
                grid-area: titulo;
                font-size: 16px;
                margin: 20px;
            }
            h5 {
                grid-area: subtitulo;
                font-size: 16px;
                margin: 5px;
            }
            p{
                font-size: 12px;
            }
            img {
                @include widthHeigth100;
                align-self: center;
                }
        }
    }
}
//      *** Discografía Mobile 320px Fin ***
//      *** Discografía Mobile 321px A 599px ***
@media only screen and (min-width:321px) and (max-width: 599px){
    .tituloDiscos{
            h1{
                font-size: $titulo-celular-horizontal;
            }
            h2{
                font-size: $subTitulo-celular-horizontal;
            }
    }
    .discos {
        display: grid;
        grid-template-areas:
            "titulo"
            "link"
            "subtitulo";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        padding: 55px;
        .card{
            a {
                grid-area: link;
                width: 100%;
            }
            h2 {
                grid-area: titulo;
                font-size: 18px;
                margin: 20px;
            }
            h5 {
                grid-area: subtitulo;
                font-size: 18px;
                margin: 5px;
            }
            p{
                font-size: 14px;
            }
            img {
                @include widthHeigth100;
                align-self: center;
            }
        }
    }
}
//      *** Discografía Mobile 321px A 599px Fin ***
//      *** Discografía Mobile 600px A 768px ***
@media only screen and (min-width:600px) and (max-width:768px){
    .tituloDiscos{
            h1{
                font-size: $titulo-tablet-chica;
            }
            h2{
                font-size: $subTitulo-tablet-chica;
            }
    }
    .discos {
        display: grid;
        grid-template-areas:
        "titulo"
        "link"
        "subtitulo";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        padding: 85px;
        .card{            
            a {
                grid-area: link;
                width: 100%;
            }
            h2 {
                grid-area: titulo;
                font-size: 20px;
                margin: 20px;
            }
            h5 {
                grid-area: subtitulo;
                font-size: 20px;
                margin: 5px;
            }
            p{
                font-size: 16px;
            }            
            img {                
                @include widthHeigth100;
                align-self: center;
            }
        }
    }
}
//      *** Discografía Mobile 600px A 768px Fin ***
//      *** Discografía Mobile 769px A 1200px ***
@media only screen and (min-width:769px) and (max-width:1200px){
    .tituloDiscos{
            h1{
                font-size: $titulo-tablet-horizontal;
            }
            h2{
                font-size: $subTitulo-tablet-horizontal;
            }
    }
    .discos{
        .card{
            img{
                width: 350px;
                height: 350px;
                border: 1px solid;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            }  
            &:hover {
            transform: scale(1.03, 1.03);
            border: 1px solid rgb(0, 0, 0);
            }
            .card-title{
                font-size: 16px;
            }
            .card-text{
                font-size: 12px;
            }
        }
    }      
}
//      *** Discografía Mobile 769px A 1200px Fin ***
@media only screen and (min-width:1201px) and (max-width:1479px){
    .discos{
        .card{
            img{
                width: 375px;
                height: 375px;
            }
            .card-title{
                font-size: 16px;
            }
            .card-text{
                font-size: 13px;
            }
        }
    }
}

