@import "./componentes/variables";
body{
    background: $colorBlanco;
    transition: .5s ease all;
    &.dark{
        .fab{
            color: $colorNegro;
        }
    }
}
footer{
    background: linear-gradient(0deg, rgb(105, 97, 255) 0%, rgb(202, 60, 60) 100%);
    display: grid;
    grid-template-areas: 
    "descripcion bowie misRedes";
    grid-template-rows: 1fr;
    grid-template-columns: 50% 25% 25%;
    p{
        font-size: $fuente-celular-horizontal;
    }
    li{
        list-style: none;            
    }
    .fab{
        padding: 15px;
        padding-top: 25px;
        font-size: 60px;
    }
    .fa-instagram{
        color: $colorBlanco;
        &:hover{
            transition: .4s;
            color: #e4405f;
        }
    }
    .fa-facebook-square{
        color: $colorBlanco;
        &:hover{
            transition: .4s;
            color:#3b5999;
        }
    }
    .fa-linkedin{
        color: $colorBlanco;
        &:hover{
            transition: .4s;
            color: #0077B5;
        }    
    }
    .fa-github-square{
        color: $colorBlanco;
        &:hover{
        transition: .4s;
        color: #333333;
        }
    }
}
    .descripcion__footer{
        grid-area: descripcion;
        align-self: center;
        text-align: center;
        color: black; 
        padding-bottom: 10px;
            .footer__imagen{
                width: 125px;
                align-self: center;
                padding-top: 20px;
            }      
    }
    .redes__bowie{
        text-align: center;
        grid-area: bowie;
            p{
                font-size: $fuente-computadora;
                color: black;
            }   
            .titulo__footer{
                padding-top: 50px;
                align-self: start;
                font-size: $titulo-tablet-horizontal;
            }
    }
    .mis__redes{
        text-align: center;
        grid-area: misRedes;
        p{
            font-size: $fuente-computadora;
            color: black;
        }
        .titulo__footer{
                padding-top: 50px;
                align-self: start;
                font-size: $titulo-tablet-horizontal;
        }
    }
/*** Footer Mobile Home 320px ***/
@media only screen and (max-width:320px){
    footer{
        grid-template-areas:
        "descripcion"
        "bowie"
        "misRedes";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
            p{
                font-size: $fuente-celular-pequeño;
            }          
            .fab{              
                font-size: 50px;
            }
    }
    .descripcion__footer{
        grid-area: descripcion;
        align-self: center;
        text-align: center;
        padding-bottom: 10px;
        color: black;
            .footer__imagen{
                width: 80px;
                align-self: center;
                padding-top: 20px;
            }
    }
    .redes__bowie{
        text-align: center;
        grid-area: bowie;
        font-size: 40px;
        align-self: center;
            .titulo__footer{
                font-size: $subTitulo-tablet-horizontal;
            }
    }
    .mis__redes{
        text-align: center;
        grid-area: misRedes;
        font-size: 40px;
        align-self: center;  
            .titulo__footer{
                font-size: $subTitulo-tablet-horizontal;
            }    
    }
}
//      *** Footer Mobile 320px Fin***
//      *** Footer Mobile 321px A 599px ***
@media only screen and (min-width:321px) and (max-width: 599px) {
    footer{
        grid-template-areas: 
        "descripcion"
        "bowie"
        "misRedes";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
            p{
                font-size: 16px;
                padding-top: 20px;
            }
            .fab{
                font-size: 60px;
            }
    }
    .descripcion__footer{
        grid-area: descripcion;
        align-self: center;
        text-align: center;
        padding-bottom: 10px;
        color: black;
            .texto__Footer{
            font-size: $fuente-celular-horizontal;
            }
            .footer__imagen{
                width: 120px;
                align-self: center;
                padding-top: 20px;
            }
    }
    .redes__bowie{
        text-align: center;
        grid-area: bowie;
        font-size: 60px;
        align-self: center;
            p{
                font-size: $fuente-celular-horizontal;
            }
            .titulo__footer{
                font-size: $titulo-celular-pequeño;
            }
    }
    .mis__redes{
        text-align: center;
        grid-area: misRedes;
        font-size: 60px;
        align-self: center;
            p{
                font-size: $fuente-celular-horizontal;
            }
            .titulo__footer{
                font-size: $titulo-celular-pequeño;
            }
    }
}
//      *** Footer Mobile 321px A 599px Fin***
//      *** Footer Mobile 600px A 768px ***
@media only screen and (min-width:600px) and (max-width: 768px){
    footer{
    grid-template-areas: 
    "descripcion"
    "bowie"
    "misRedes";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
        p{
            font-size: 18px;
            padding-top: 20px;
        }
    }
    .descripcion__footer{
        grid-area: descripcion;
        align-self: center;
        text-align: center;
        padding-bottom: 10px;
        color: black;
            .texto__Footer{
                font-size: $fuente-tablet-chica;
            }
            img{
                align-self: center;
                padding-top: 20px;
            }
    }
    .redes__bowie{
        text-align: center;
        grid-area: bowie;
        font-size: 60px;
        align-self: center;
            p{
                font-size: $fuente-tablet-chica;
            }
            .titulo__footer{
                font-size: $titulo-celular-horizontal;
            }
    }
    .mis__redes{
        text-align: center;
        grid-area: misRedes;
        font-size: 60px;
        align-self: center;
            p{
                font-size: $fuente-tablet-chica;
            }
            .titulo__footer{
                font-size: $titulo-celular-horizontal;
            }
    }
}
//      *** Footer Mobile 600px A px 768Fin***
//      *** Footer Mobile 769px A 1300px ***
@media only screen and (min-width:769px) and (max-width:1200px) {
    footer{
        grid-template-areas: 
        "descripcion bowie misRedes";
        grid-template-rows: 1fr;
        grid-template-columns: 40% 30% 30%;
            p{
                padding-top: 20px;
            }
            .fab{
                padding: 15px;
                padding-top: 90px;
                padding-right: 10px;
                font-size: 55px;
            }
    }
    .descripcion__footer{
        grid-area: descripcion;
        align-self: center;
        text-align: center;
        padding-bottom: 10px;
        color: black;
            img{
                align-self: center;
                padding-top: 20px;
            }
            .texto__Footer{
            font-size: $fuente-tablet-horizontal;
            }
    }
    .redes__bowie{
        text-align: center;
        grid-area: bowie;
            p{
                font-size: $fuente-tablet-horizontal;
                color: black;
            }
            .titulo__footer{
                padding-top: 50px;
                align-self: start;
                font-size: $titulo-tablet-chica;
            }
    }
    .mis__redes{
        text-align: center;
        grid-area: misRedes;
            p{
                font-size: $fuente-tablet-horizontal;
            }
            .titulo__footer{
                padding-top: 50px;
                align-self: start;
                font-size: $titulo-tablet-chica;
            }
    }
}
//      *** Footer Mobile 769px A 1300px Fin***