@import "./componentes/variables";
@mixin animacionIzquierda{
    animation: fadeInLeftBig;
    animation-duration: 2s;
}
@mixin animacionDerecha{
    animation: fadeInRightBig;
    animation-duration: 2s;
}
@mixin titulo {
    text-align: center;
    color: transparent;
    animation: fadeInDown;
    animation-duration: 2s;
    font-size: $titulo-computadora;
    font-style: italic;
    background: linear-gradient(to left, rgb(18, 22, 255), rgb(255, 25, 25), rgb(18, 22, 255), rgb(255, 75, 75));
    -webkit-background-clip: text;
        &:hover {
                color: transparent;
                background: rgb(60,58,180);
                background: linear-gradient(90deg, rgba(60,58,180,1) 0%, rgba(252,69,69,1) 100%);;
                -webkit-background-clip: text;
        }          
}
@mixin colorBarraHistoria {
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(255, 55, 96, 1) 100%);
}
//      *** DarkMode ***
html{
    scroll-behavior: smooth;
}
body{
    background: $colorBlanco;
    transition: .5s ease all;
            &.dark{
            background: $colorNegro;
            .nav.justify-content-center{
                background: $colorNegro;
                transition: .5s ease all;
            }
            section{
                p{
                    color: $colorBlanco;
                }
            }
    }
}
//      *** DarkMode Fin ***
//      *** Titulos Historia ***
#tituloLink{
    text-decoration: none;
}
.tituloHistoria{
    @include titulo;
}
h2{
    @include animacionIzquierda
    color: transparent;
    background: linear-gradient(to left, rgb(18, 22, 255), rgb(255, 25, 25), rgb(18, 22, 255), rgb(255, 75, 75));
    -webkit-background-clip: text;
    text-align: center;
    font-size: $titulo-celular-horizontal;
    padding: 40px;
}
//      *** Titulos Historia Fin ***
//      *** Barra Historia ***
.barraHistoria{
    margin: 10px;
    padding: 30px;
}
.nav.justify-content-center{
    background-color: $colorBlanco;
    padding: 40px;
    margin-bottom: 50px;
    li{
        font-size: $subTitulo-computadora;
        font-weight: 700;
    }
    .nav-item{
    justify-content: center;
    align-self: center;
    --animate-duration: 2s;
    }
}

//      *** Barra Historia Fin***
//      *** GRID Historia  ***
.comienzoHistoria{
    display: grid;
    grid-template-areas: 
    "img aside"
    "p aside";
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr auto;
        a{
            @include animacionIzquierda
            grid-area: img;
            align-self: center;
            padding-left:80px;
            img{
                width: 700px;
                height:700px;              
            }
        }
        p{
            @include animacionIzquierda
            grid-area: p;
            align-self: center;
            padding-left: 50px;
            padding-bottom:70px;
            font-size: $fuente-computadora;   
            width: 90%;
            a{
                padding-left: 0;
                text-decoration: none;
            }         
        }
        aside{
            grid-area: aside;
            align-self: center;
            padding: 20px;
            p{
                @include animacionDerecha
                width: 620px;
                padding:50px;
            }
            img{
                @include animacionDerecha
                width: 600px;
                height: 800px;
                padding-left: 0;
                padding-right: 0;
            }
        }
}
.ziggyStardustHistoria{
    display: grid;
    grid-template-areas: 
    "texto imagen"
    "texto imagen";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr auto;
        a{
            grid-area: imagen;
            align-self: center;
            margin: 30px;
        }
        p{
            grid-area: texto;
            align-self: center;
            margin: 40px;
            font-size: $fuente-computadora;
        }
        p{
            @include animacionIzquierda
            display: inline-block;
            overflow: hidden;
            a{
                margin: 0;
                text-decoration: none;
            }
        }
        img{
            @include animacionDerecha
            width: 500px;
        }
}
.epocaOscuraHistoria{
    display: grid;
    grid-template-areas:
    "foto muchoTexto"
    "foto muchoTexto";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto 70%;
        a{
            grid-area: foto;
            align-self: center;
            margin: 30px;
        }
        p{
            grid-area: muchoTexto;
            align-self: center;
            margin: 50px;
            font-size: $fuente-computadora;
        }
        p{
            @include animacionDerecha
            width: 75%;
            a{
                margin: 0;
                text-decoration: none;
            }
        }
        img{
            @include animacionIzquierda
            width: 450px;      
        }
}
.renacimientoHistoria{
    display: grid;
    grid-template-areas:
    "texto foto"
    "texto foto";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr auto;
        a{
            grid-area: foto;
            align-self: center;
            margin: 30px;
        }
        p{
            grid-area: texto;
            align-self: center;
            margin: 50px;
            font-size: $fuente-computadora;
        }
        p{
            @include animacionIzquierda
            display: inline-block;
            a{
                margin: 0;
                text-decoration: none;
            }
        }
        img{
            @include animacionDerecha
            width: 500px;
        }
}
.finDelCamino{
    display: grid;
    grid-template-areas:
    "video texto"
    "video texto";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr auto;
        a{
            grid-area: video;
            align-self: center;
            margin: 30px;
        }
        p{
            grid-area: texto;
            align-self: center;
            margin: 50px;
            font-size: $fuente-computadora;
        }
        p{
            @include animacionDerecha;
            display: inline-block;
            a{
                margin: 0;
                text-decoration: none;
            }
        }
        img{
            @include animacionIzquierda;
            width: 900px;
        }
}
//      *** GRID Historia Fin ***
@media only screen and (max-width:320px){
//      *** Home Mobile 320px  ***
    .tituloHistoria{
        font-size: $titulo-celular-pequeño;
    }
    h2{
        text-align: center;
        margin: 5px;
        font-size: $subTitulo-celular-horizontal;
    }
    .nav.justify-content-center{
        li{
            font-size: $subTitulo-celular-pequeño;
            font-weight: 700;
        }
    }
//      * Bowie *
    .comienzoHistoria{
        display: grid;
        grid-template-areas:
        "imagen"
        "texto"
        "aside";
        grid-template-rows: 1fr;
        grid-template-columns: 100%;
            a{
                grid-area: imagen;
                align-self: center;
                padding-left:0;
                    img{
                    width: 100%;
                    height: 100%;
                    padding: 35px;                
                }
            }
            p{
                grid-area: texto;
                font-size: $fuente-celular-pequeño;
                width:100%;
                padding: 25px;
            }
            .historiaBowieTexto{
            padding-bottom: 0;
            }
            aside{
            grid-area: aside;
            align-self: center;
                img{
                width: 100%;
                height: 100%;
                padding: 20px;
                padding-bottom:10px;
                }
                p{
                    width:100%;
                    padding:0px;
                } 
            }         
    }
//      * Ziggy *
    .ziggyStardustHistoria{
        display: grid;
        grid-template-areas:
        "imagen"
        "texto";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
            a {
                grid-area: imagen;
                align-self: center;
            }
            p {
                grid-area: texto;
                align-self: center;
                font-size: $fuente-celular-pequeño;
            }
            img {
                width: 100%;
                height: 100%;
                margin: 5px;
            }
    }
//      * Epoca Oscura *
    .epocaOscuraHistoria{
        display: grid;
        grid-template-areas:
        "imagen"
        "texto";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
            a{
                grid-area: imagen;
                align-self: center;
            }
            p{
                grid-area: texto;
                align-self: center;
                font-size: $fuente-celular-pequeño;
                width: 70%;
            }
            img{
                width: 100%;
                height: 100%;
                padding: 10px;
            }
    }
//      * Renacimiento *
    .renacimientoHistoria{
        display: grid;
        grid-template-areas:
        "foto"
        "texto";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
            a{
                grid-area: foto;
                align-self: center;
            }
            p{
                grid-area: texto;
                align-self: center;
                font-size: $fuente-celular-pequeño;
            }
            img{
                width: 100%;
                height: 100%;
                padding: 10px;
            }
    }
//      * Fin del Camino *
    .finDelCamino{
        display: grid;
        grid-template-areas:
        "imagen"
        "texto";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
            a{
                grid-area: imagen;
            }
            p{
                grid-area: texto;
                display: inline-block;
                margin: 0px;
                font-size: $fuente-celular-pequeño;
                padding:25px;
            }
            img{
                width: 100%;
                height: 100%;
                padding: 10px;
            }
    }
}
//      *** Home Mobile 320px  FIN ***
//      *** Home Mobile 321px A 599px ***
@media only screen and (min-width:321px) and (max-width: 599px){
    .tituloHistoria{
        font-size: $titulo-celular-horizontal;
    }
    h2{
        font-size: $subTitulo-tablet-chica;
        text-align: center;
    }
    .nav.justify-content-center{
        li{
            font-size: $subTitulo-celular-horizontal;
            font-weight: 700;
        }
    }
//      * Bowie *
    .comienzoHistoria{
        display: grid;
        grid-template-areas:
        "imagen"
        "texto"
        "aside";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
            a{
                grid-area: imagen;
                align-self: center;
                padding-left:0;
                img{
                    width: 100%;
                    height: 100%;
                    padding: 35px;                
                }
            }
            p{
                grid-area: texto;
                font-size: $fuente-celular-horizontal;
                width:100%;
                padding: 25px;
            }
            .historiaBowieTexto{
                padding-bottom: 0;
            }
            aside{
                grid-area: aside;
                align-self: center;
                    img{
                        width: 100%;
                        height: 100%;
                        padding: 10px;                
                    }
                    p{
                        width:100%;
                        font-size: $fuente-celular-horizontal;
                        padding: 10px;
                    }
            }
    }
//      * Ziggy *
    .ziggyStardustHistoria{
        display: grid;
        grid-template-areas:
        "imagen"
        "texto";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
            a{
                grid-area: imagen;
                align-self: center;
            }
            p{
                grid-area: texto;
                align-self: center;
                font-size: $fuente-celular-horizontal;
            }
            img{
                width: 100%;
                height: 100%;
                margin: 5px;
            }
    }
//      * Epoca Oscura *
    .epocaOscuraHistoria {
        display: grid;
        grid-template-areas:
        "imagen"
        "texto";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
            a{
                grid-area: imagen;
                align-self: center;
            }
            p{
                grid-area: texto;
                align-self: center;
                font-size: $fuente-celular-horizontal;
            }
            img{
                width: 100%;
                height: 100%;
            }
    }
//      * Renacimiento *
    .renacimientoHistoria{
        display: grid;
        grid-template-areas:
        "foto"
        "texto";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
            a{
                grid-area: foto;
                align-self: center;
            }
            p{
                grid-area: texto;
                align-self: center;
                display: inline-block;
                font-size: $fuente-celular-horizontal;
            }
            img{
                width: 100%;
                height: 100%;
                padding: 10px;
            }
    }
//      * Fin del Camino *
    .finDelCamino{
        display: grid;
        grid-template-areas:
        "imagen"
        "texto";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        a{
            grid-area: imagen;
        }
        p{
            grid-area: texto;
            display: inline-block;
            margin-bottom: 30px;
            font-size: $fuente-celular-horizontal;
        }
        img{
            width: 100%;
            height: 100%;
            padding: 10px;
        }
    }
} 
//      *** Home Mobile 321px A 599px FIN *** 
//      *** Home Mobile 600px A 768px ***
@media only screen and (min-width:600px) and (max-width:768px){
    .tituloHistoria{
        font-size: $titulo-tablet-chica;
    }
    h2{
        font-size: $subTitulo-tablet-horizontal;
        text-align: center;
        margin: 5px;
    }
//      * Bowie *
    .nav.justify-content-center{
        li{
            font-size: $subTitulo-tablet-chica;
            font-weight: 700;
        }
    }
    .comienzoHistoria{
        display: grid;
        grid-template-areas:
        "imagen"
        "texto"
        "aside";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
            a{
                grid-area: imagen;
                align-self: center;
                padding-left:0;
                img{
                    width: 100%;
                    height: 100%;
                    padding: 35px;                
                }
            }
            p{
                grid-area: texto;
                width: 90%;
            }
            .historiaBowieTexto{
                padding-bottom: 0;
            }
            aside{
                grid-area: aside;
                align-self: center;
                img{
                width: 100%;
                height: 100%;
                padding: 5px;
                }
                p{
                    width: 100%;
                }
            }          
    }
//      * Ziggy *
    .ziggyStardustHistoria{
        display: grid;
        grid-template-areas:
        "imagen"
        "texto";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
            a{
                grid-area: imagen;
                align-self: center;
            }
            p{
                grid-area: texto;
                align-self: center;
            }
            img{
                width: 100%;
                height: 100%;
                margin: 5px;
            }
    }
//      * Epoca Oscura *
    .epocaOscuraHistoria{
        display: grid;
        grid-template-areas:
        "imagen"
        "texto";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
            a{
                grid-area: imagen;
                align-self: center;
            }
            p{
                grid-area: texto;
                align-self: center;
                width: 85%;                
            }
            img{
                width: 100%;
                height: 100%;
                padding: 10px;
            }
    }
//      * Renacimiento *
    .renacimientoHistoria{
        display: grid;
        grid-template-areas:
        "foto"
        "texto";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
            a{
                grid-area: foto;
                align-self: center;
            }
            p{
                grid-area: texto;
                align-self: center;
                display: inline-block;
                padding: 10px;
            }
            img{
                width: 100%;
                height: 100%;
                padding: 10px;
            }
    }
//      * Fin del Camino *
    .finDelCamino{
        display: grid;
        grid-template-areas:
        "imagen"
        "texto";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
            a{
                grid-area: imagen;
            }
            p{
                grid-area: texto;
                display: inline-block;
                padding: 10px;
                margin-bottom: 30px;
            }
            img{
                width: 100%;
                height: 100%;
                padding: 10px;
            }
    }
}
//      *** Home Mobile 600px A 768px FIN ***
//      *** Home Mobile 769px A 1200***
@media only screen and (min-width:769px) and (max-width:1199px){
    .tituloHistoria{
        font-size: $titulo-tablet-horizontal;
    }
    h2{
        font-size: $subTitulo-computadora;
        text-align: center;
    }
    .nav.justify-content-center{
        li{
            font-size: $subTitulo-tablet-horizontal;
            font-weight: 700;
        }
    }
//      * Bowie *
    .comienzoHistoria{
        display: grid;
        grid-template-areas:
        "imagen"
        "texto"
        "aside";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
            a{
                grid-area: imagen;
                align-self: center;
                padding-left:0;
            img{
                width: 100%;
                height: 100%;
                padding: 35px;
                }
            }
            p{
                grid-area: texto;
                font-size: $fuente-tablet-horizontal;
                width: 92%;
            }         
            .historiaBowieTexto{
                padding-bottom: 0;
            }
            aside{
                grid-area: aside;
                align-self: center;
                img{
                width: 100%;
                height: 100%;
                padding: 35px;
                }
                p{
                    width: 100%;
                    font-size: $fuente-tablet-horizontal;
                }
            }
    }
//      * Ziggy *
    .ziggyStardustHistoria{
        display: grid;
        grid-template-areas:
        "imagen"
        "texto";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
            a{
                grid-area: imagen;
                align-self: center;
            }
            p{
                grid-area: texto;
                align-self: center;
                font-size: $fuente-tablet-horizontal;
            }
            img{
                width: 100%;
                height: 100%;
                margin: 5px;
            }
    }
//      * Epoca Oscura *
    .epocaOscuraHistoria{
        display: grid;
        grid-template-areas:
        "imagen"
        "texto";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
            a{
                grid-area: imagen;
                align-self: center;
            }
            p{
                grid-area: texto;
                align-self: center;
                font-size: $fuente-tablet-horizontal;
                width: 90%;
            }
            img{
                width: 100%;
                height: 100%;
                padding: 10px;
            }
    }
//      * Renacimiento *
    .renacimientoHistoria{
        display: grid;
        grid-template-areas:
        "foto"
        "texto";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
            a{
                grid-area: foto;
                align-self: center;
            }
            p{
                grid-area: texto;
                align-self: center;
                display: inline-block;
                padding: 10px;
                font-size: $fuente-tablet-horizontal;
            }
            img{
                width: 100%;
                height: 100%;
                padding: 10px;
            }
    }
//      * Fin del Camino *
    .finDelCamino{
        display: grid;
        grid-template-areas:
        "imagen"
        "texto";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
            a{
                grid-area: imagen;
            }
            p{
                grid-area: texto;
                display: inline-block;
                padding: 10px;
                margin-bottom: 30px;
                font-size: $fuente-tablet-horizontal;
            }
            img{
                width: 100%;
                height: 100%;
                padding: 10px;
            }
    }
}
//      *** Home Mobile 769px A 1200 FIN ***
@media only screen and (min-width:1200px) and (max-width:1300px){
    .tituloHistoria{
        font-size: $titulo-tablet-horizontal;
    }
    h2{
        font-size: $titulo-celular-pequeño;
        text-align: center;
    }
    .comienzoHistoria{
        display: grid;
        grid-template-areas:
        "imagen aside"
        "texto aside";
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr 1fr;
            a{
                grid-area: imagen;
                align-self: center;
                padding-left:0;
                    img{
                    width: 100%;
                    height: 100%;
                    padding:35px;
                    }
            }
            p{
                grid-area: texto;
                width: 90%;
            }
            .historiaBowieTexto{
                padding-bottom: 85px;
            }          
            aside{
                grid-area: aside;
                align-self: center;
                img{
                    width: 100%;
                    height: 100%;
                    padding:35px;
                }
                p{
                    width: 100%;
                }
            }
    }
    .finDelCamino{
        display: grid;
        grid-template-areas:
        "imagen"
        "texto";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
            a{
                grid-area: imagen;
            }
            p{
                grid-area: texto;
                display: inline-block;
                margin: 5px;
                margin-bottom: 30px;
                font-size: $fuente-tablet-horizontal;
            }
            img{
                width: 100%;
                height: 100%;
            }
    }
}
@media only screen and (min-width:1300px) and (max-width:1400px){
    .comienzoHistoria{
        display: grid;
        grid-template-areas:
        "imagen aside"
        "texto aside";
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr 1fr;
            a{
                grid-area: imagen;
                align-self: center;
                padding-left:0;
                    img{
                    width: 100%;
                    height: 100%;
                    padding:35px;
                    }
            }
            p{
                grid-area: texto;
                width: 90%;
            }
            .historiaBowieTexto{
                padding-bottom: 0;
            }          
            aside{
                grid-area: aside;
                align-self: center;
                img{
                    width: 100%;
                    height: 100%;
                    padding:35px;
                }
                p{
                    width: 100%;
                }
            }
    }
    .finDelCamino{
        display: grid;
        grid-template-areas:
        "imagen"
        "texto";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
            a{
                grid-area: imagen;
            }
            p{
                grid-area: texto;
                display: inline-block;
                margin: 5px;
                margin-bottom: 30px;
                font-size: $fuente-tablet-horizontal;
            }
            img{
                width: 100%;
                height: 100%;
            }
    }
}
@media only screen and (min-width:1401px) and (max-width:1600px){
    .comienzoHistoria{
    display: grid;
    grid-template-areas: 
    "img aside"
    "p aside";
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr auto;
        a{
            @include animacionIzquierda
            grid-area: img;
            align-self: center;
            padding-left:40px;
                img{
                    width: 650px;
                    height:650px;
                    padding-right:20px;              
                }
        }
        p{
            @include animacionIzquierda
            grid-area: p;
            align-self: center;
            padding-left: 50px;
            font-size: $fuente-computadora;   
            width: 90%;
            a{
                padding-left: 0;
                text-decoration: none;
            }         
        }
        aside{
            grid-area: aside;
            align-self: center;
            margin: 0;
            p{
                @include animacionDerecha
                width: 620px;
                padding:20px;
            }
            img{
                @include animacionDerecha
                width: 550px;
                height: 750px;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}