@import "./componentes/variables";
@mixin animacion {
    animation: fadeInUp;
    animation-duration: 1.5s;
}
//      *** DarkMode ***
html{
    scroll-behavior: smooth;
}
body{
    background: $colorBlanco;
    transition: .5s ease all;

    &.dark {
        background: $colorNegro;
    }
}
//      *** MakeUp ***
.nav.flex-column{
    @include animacion;
    font-weight: 700;
    padding: 50px;
    font-size: $subTitulo-computadora;
}
.container {
    @include animacion;
}
.makeups {
    a{
        text-decoration: none;
    }
    text-align: center;
    .makeup__titulo {
    padding-top: 30px;
    font-size:$titulo-computadora;
    font-style: italic;
    text-align: center;
    color: transparent;
    background: linear-gradient(to left, rgb(18, 22, 255), rgb(255, 25, 25), rgb(18, 22, 255), rgb(255, 75, 75));
    -webkit-background-clip: text;
        &:hover {
            color: transparent;
            background: rgb(60,58,180);
            background: linear-gradient(90deg, rgba(60,58,180,1) 0%, rgba(252,69,69,1) 100%);;
            -webkit-background-clip: text;
        } 
    }
    h2 {
    padding: 40px;
    padding-top:100px;
    font-size: $titulo-tablet-chica;
    animation: fadeInUp;
    animation-duration: 1.5s;
    }
    .container{
        img{
            height:850px;
            padding-left:75px;
            padding-right:75px;
        }
    }    
}
.makeup__subTitulo1 {color: $colorZiggy;}
.makeup__subTitulo2 {color: $colorAladdin;}
.makeup__subTitulo3 {color: $colorScaryMonsters;}
.makeup__subTitulo4 {color: $colorLabyrinth;}
.makeup__subTitulo5 {color: $colorHunkyDory;}
//    ***Mobile 320px A px  ***
@media only screen and (max-width:320px){
        .nav.flex-column{
            font-size: $subTitulo-celular-pequeño;
        }
        .makeups{
            .makeup__titulo{
                font-size: $titulo-celular-pequeño;
                padding-top: 20px;
            }            
            h2 {
            font-size: $subTitulo-tablet-horizontal;
            padding-top:25px;
            }
            .container{
                img{
                    width:100%;
                    height:100%;
                    padding-left:15px;
                    padding-right:15px;
                }
            }
        }
} 
//    ***Mobile 320px A px Fin ***
//    ***Mobile 321px A 599px  ***
@media only screen and (min-width:321px) and (max-width:599px){
        .nav.flex-column{
        font-size: $subTitulo-celular-horizontal;
        }
        .makeup__titulo {
            font-size: $titulo-celular-horizontal;
            padding-top: 20px;
        }
        .makeups{
            h2{
                font-size: $subTitulo-computadora;
                padding-top:50px;
            }   
            .container{
                img{
                    width:100%;
                    height:100%;
                    padding-left:20px;
                    padding-right:20px;
                }
            }    
        }
} 
//    ***Mobile 321px A 599px Fin ***
//    ***Mobile 600px A 768px  ***
@media only screen and (min-width:600px) and (max-width:768px){
        .nav.flex-column{
            font-size: $subTitulo-tablet-chica;
        }
        .makeups{
            .makeup__titulo{
                font-size: $titulo-tablet-chica;
            }
            h2{
                font-size: $titulo-celular-pequeño;
            }   
            .container{
                img{
                    height:100%;
                    padding-left:25px;
                    padding-right:25px;
                }
            }       
    }
}
//        ***Mobile 600px A 768px Fin ***
//      *** Mobile 769px A 1200px  ***
@media only screen and (min-width:769px) and (max-width:991px){
    .nav.flex-column{
        font-size: $subTitulo-tablet-horizontal;
    }
        .makeups{
            .makeup__titulo{
                font-size: $titulo-tablet-horizontal;
            }
            h2{
                font-size: $titulo-celular-horizontal;
            }  
            .container{
                img{
                    height:600px;
                    padding-left:30px;
                    padding-right:30px;
                }
            }      
        }
}
//      *** Mobile 769px A 1200px Fin ***
@media only screen and (min-width:992px) and (max-width:1200px){
    .nav.flex-column{
        font-size: $subTitulo-tablet-horizontal;
    }
        .makeups{
            .makeup__titulo{
                font-size: $titulo-tablet-horizontal;
            }
            h2{
                font-size: $titulo-celular-horizontal;
            }  
            .container{
                img{
                    height:750px;
                    padding-left:30px;
                    padding-right:30px;
                }
            }      
        }
}
